<!-- wp:template-part {"slug":"header-with-banner","theme":"handyman-blocks"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"light-color","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group has-light-color-background-color has-background" style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
  <!-- wp:pattern {"slug":"handyman-blocks/services-section"} /-->
  <!-- wp:pattern {"slug":"handyman-blocks/aboutus-section"} /-->
  <!-- wp:pattern {"slug":"handyman-blocks/testimonial-section"} /-->
  <!-- wp:pattern {"slug":"handyman-blocks/brands-showcase"} /-->
  <!-- wp:pattern {"slug":"handyman-blocks/portfolio-block"} /-->
  <!-- wp:pattern {"slug":"handyman-blocks/why-choose-us"} /-->
  <!-- wp:pattern {"slug":"handyman-blocks/pricing-table"} /-->
  <!-- wp:pattern {"slug":"handyman-blocks/call-to-action"} /-->
  <!-- wp:pattern {"slug":"handyman-blocks/team-section"} /-->
  <!-- wp:pattern {"slug":"handyman-blocks/latest-post"} /-->
  <!-- wp:pattern {"slug":"handyman-blocks/contact-with-form-notice"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"handyman-blocks","area":"footer"} /-->
