<!-- wp:template-part {"slug":"header","theme":"real-estate-deals","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

    <!-- wp:pattern {"slug":"real-estate-deals/page-title"} /-->

    <!-- wp:pattern {"slug":"real-estate-deals/blog-right-sidebar"} /-->
    
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"real-estate-deals","tagName":"footer","className":"custom-footer-class"} /-->