<!-- wp:template-part {"slug":"header","theme":"real-estate-deals","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"real-estate-deals/header-image"} /-->

<!-- wp:pattern {"slug":"real-estate-deals/cart"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"real-estate-deals","tagName":"footer","className":"custom-footer-class"} /-->