<!-- wp:template-part {"slug":"header","theme":"real-estate-deals","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

    <!-- wp:pattern {"slug":"real-estate-deals/page-title"} /-->

    <!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"60px","right":"20px","bottom":"40px","left":"20px"}}},"layout":{"type":"constrained"}} -->
    <main class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:60px;padding-right:20px;padding-bottom:40px;padding-left:20px"><!-- wp:pattern {"slug":"real-estate-deals/page-content"} /--></main>
<!-- /wp:group -->
    
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"real-estate-deals","tagName":"footer","className":"custom-footer-class"} /-->